:root {
  --dark-grey: rgb(26, 26, 26);
  --light-black: rgb(15, 15, 15);
  --light-gray: rgb(167, 167, 167);
  --task-bg-color: rgb(20, 20, 20);
  --border-color: rgba(255, 255, 255, 0.1);
  --completed-color: lime;

  --active-project-color: rgb(43, 78, 231);
  --other-project-color: rgb(93, 116, 218);

  --low-priority-text-color: rgb(19, 119, 69);
  --low-priority-bg-color: rgb(136, 228, 182);
  --medium-priority-text-color: rgb(221, 136, 8);
  --medium-priority-bg-color: rgb(235, 224, 129);
  --high-priority-text-color: rgb(185, 9, 9);
  --high-priority-bg-color: rgb(235, 145, 145);
}

/* ELEMENTS ---------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

h1, 
h2, 
p {
  padding: 0;
  margin: 0;
  color: white;
}

textarea {
  border: 0;
  box-shadow: none;
  width: 100%;
}

/* CONTAINER --------------------------------------------------------------- */

#container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 250px auto 300px;
  grid-template-rows: 100px auto 75px;

  font-family: "Google Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* PROJECT DIV ------------------------------------------------------------- */

#projects {
  background-color: var(--dark-grey);
  border-right: 1px solid var(--border-color);
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  padding: 20px;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#projects > * {
  width: 100%;
}

#projects > h1 {
  text-align: center;
}

#project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#new-project-btn,
.project-btn {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  
  display: flex;
  align-items: center;

  background-color: transparent;
  color: white;
  
  border: 1px solid var(--border-color);
  border-radius: 10px;

  cursor: pointer;
}

#new-project-btn {
  justify-content: center;
  gap: 5px;
  color: white;
  -webkit-box-shadow:0px 0px 10px 1px rgba(255,255,255,0.4);
  -moz-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.4);
  box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.4);
}

.project-btn {
  justify-content: space-between;
  background-color: var(--other-project-color);
}

.project-btn.active {
  background-color: var(--active-project-color);
}

.icon-project {
  display: flex;
  gap: 5px;
}

/* NAVBAR ------------------------------------------------------------------ */

#navbar {
  background-color: var(--dark-grey);
  border-bottom: 1px solid var(--border-color);
  padding: 20px;

  grid-column: 2 / 4;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar > div {
  display: flex;
  flex-direction: row;
}

#project-controls {
  display: flex;
  align-items: center;
  gap: 40px;
}

#new-task-btn {
  width: 120px;
  height: 40px;

  color: white;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 16px;

  -webkit-box-shadow:0px 0px 10px 1px rgba(255,255,255,0.4);
  -moz-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.4);
  box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.4);

  cursor: pointer;
}

#user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

#user-info > p {
  font-size: 20px;
  font-weight: bold;
}

.user-dp {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

/* TASK DIV ---------------------------------------------------------------- */

#tasks {
  background-color: var(--light-black);
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  overflow: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  gap: 20px;
}

.task {
  height: 200px;
  padding: 20px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  
  background-color: var(--task-bg-color);
  color: white;

  cursor: pointer;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  display: grid;
  grid-template-rows: 30px 30px auto 25px;
  row-gap: 5px;
}

.task.active {
  -webkit-box-shadow:0px 0px 10px 1px rgba(43,77,231,0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(43,77,231,0.75);
  box-shadow: 0px 0px 10px 1px rgba(43,77,231,0.75);
}

.task-title {
  margin: 0;
}

.task-priority {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
}

.task-priority.low {
  background-color: var(--low-priority-bg-color);
  color: var(--low-priority-text-color);
}

.task-priority.medium {
  background-color: var(--medium-priority-bg-color);
  color: var(--medium-priority-text-color);
}

.task-priority.high {
  background-color: var(--high-priority-bg-color);
  color: var(--high-priority-text-color);
}

.task-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-due-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-due-date,
.due-date-text,
.task-description {
  color: var(--light-gray);
}

.task-description {
  margin-top: 10px;
}

.icon-container {
  color: var(--light-gray);
}

.task.completed {
  border: 2px dashed var(--border-color);
}

.task.completed .due-date-text,
.task.completed .task-title,
.task.completed .task-description,
.task.completed .task-priority {
  color: var(--light-gray);
  text-decoration: line-through;
}

.task.completed .task-priority {
  background-color: var(--light-gray);
  color: var(--dark-grey);
}

.completed .checkbox-task-btn {
  color: lime;
}

.icon-task {
  display: flex;
  justify-content: end;
  gap: 10px;
}

/* DESCRIPTION DIV --------------------------------------------------------- */

#description {
  background-color: var(--light-black);
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  padding: 20px;
  border-left: 1px solid var(--border-color);
}

#description h4 {
  color: var(--light-gray);
  font-weight: 400;
}

#description span {
  color: white;
  font-weight: bold;
}

.description-priority {
  text-transform: capitalize;
}

.description-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#description .completed {
  color: var(--completed-color);
}

#description .low {
  color: rgb(0, 177, 0);
}

#description .medium {
  color: var(--medium-priority-text-color);
}

#description .high {
  color: rgb(255, 35, 35);
}

/* FOOTER ------------------------------------------------------------------ */

#footer {
  background-color: var(--dark-grey);
  border-top: 1px solid var(--border-color);
  grid-column: 1 / 4;
  grid-row: 3 / 4;

  display: flex;
  justify-content: center;
  align-items: center;
}

#footer > p {
  color: var(--light-gray);
}

#footer a {
  font-weight: bold;
  color: var(--other-project-color);
  text-decoration: none;
}

/* DIALOG & FORMS ---------------------------------------------------------- */

dialog[open] {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  
  background-color: rgba(29, 29, 29, 0.4);
  border: 0;
  padding: 0;
  margin: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Google Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#project-form {
  width: 400px;
  padding: 20px;
  
  justify-content: space-between;
}

#task-form {
  width: 400px;
  padding: 20px;
  gap: 20px;
}

#project-form,
#task-form,
.delete-container {
  background-color: var(--light-black);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.no-resize-textarea {
  resize: none;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 5px;

  color: white;
  font-size: 18px;
}

.form-col label {
  font-size: 16px;
  color: var(--light-gray)
}

.form-col input {
  background-color: var(--dark-grey);
  color: white;
  font-size: 18px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 5px;
}

.form-col select {
  background-color: var(--dark-grey);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
  color: white;

  cursor: pointer;
}

.form-col #task-description {
  height: 100px;
}

.form-col input[type="date"] {
  color: white;

  cursor: pointer;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-row > * {
  width: 50%;
}

form button,
.delete-container button {
  background-color: var(--dark-grey);
  color: white;
  height: 40px;
  font-size: 18px;
  border: 1px solid var(--border-color);
  border-radius: 10px;

  cursor: pointer;
}

.delete-container {
  padding: 20px;
}

#delete-title {
  color: white;
  font-weight: bold;
  font-size: 18px;
}